*,
html,
/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #282525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 10px 20px;
    color: #fff;
}

.logo img {
    width: 55px;
    height: 55px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
}

.banner-container {
    width: 100%;
    height: 660px;
    background-image: url('../assets/bggunung.png');
    background-size: cover;
}

.text-container {
    font-size: xx-large;
    color: whitesmoke;
    margin-left: 80px;
}

.about-us {
    height: 400px;
    margin: 80px;
}

.contact-us {
    height: 400px;
    margin: 80px;
}